/* ex1 */
.ex-1-square {
  transition: 2s;
}
.ex-1-square:hover {
  background-color: red;
}
/* ex1 */
/* ex2 */
.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 100%;
}
/* ex2 */
/* ex3 */
.ex-3-square {
  transition: 2s;
}
.ex-3-square:hover {
  border-radius: 100%;
}
/* ex3 */
/* ex4 */
.ex-4-square {
  transition: 2s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* ex4 */
/* ex5 */
.ex-5-square {
  transition: 1s;
}
.ex-5-square:hover {
  scale: 1.5;
}
.ex-5-square:active {
  scale: .5;
}
/* ex5 */
/* ex6 */
.ex-6-img:hover {
  filter: grayscale(1);
}
/* ex6 */
/* ex7 */
.ex-7-img {
  transition: 1s;
}
.ex-7-img:hover {
  filter: sepia(.5) grayscale(.5) ;
}
/* ex7 */
/* ex8 */
.ex-8-img {
  transition: 1s;
}
.ex-8-img:hover {
  filter: sepia(.5) grayscale(.5) ;
  border-radius: 20px;
}
/* ex8 */
/* ex9 */
.ex-9-img {
  transition: 1s;
}
.ex-9-img:hover {
  filter: sepia(.5) grayscale(.5) ;
  border-radius: 20px;
  scale: 1.5;
}
/* ex9 */
/* ex10 */
.ex-10-icon {
  animation-name: rotation;
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* ex10 */

