/* ex1 */
.ex-1-square {
  transition: 2s;
}
.ex-1-square:hover {
  background-color: red;
}
/* ex1 */
/* ex2 */
.ex-2-square {
  transition: 2s;
}
.ex-2-square:active {
  width: 100%;
}
/* ex2 */
/* ex3 */
.ex-3-square {
  transition: 2s;
}
.ex-3-square:hover {
  border-radius: 100%;
}
/* ex3 */
/* ex4 */
.ex-4-square {
  transition: 2s;
}
.ex-4-square:hover {
  opacity: 0;
}
/* ex4 */
/* ex5 */
.ex-5-square {
  transition: 2s;
}
.ex-5-square:hover {
  width: 100px;
  height: 100px;
}
.ex-5-square:active {
  width: 30px;
  height: 30px;
}
/* ex5 */
/* ex6 */
.ex-6-img:hover {
  filter: grayscale(1);
}
/* ex6 */
/* ex7 */
.ex-7-img {
  transition: 1s;
}
.ex-7-img:hover {
  filter: sepia(.5) grayscale(.5) ;
}
/* ex7 */

